<h1>Hello!!</h1>

<form action="/admin" method="POST" role="form">

  
  <h1><%= @message %></h1>
  <div class="form-group">
    <label>Login</label>
    <input name="login" type="text" class="form-control" placeholder="Login" required>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input name="password" type="password" class="form-control" placeholder="Password" required>
  </div>	

  
  <button type="submit" class="btn btn-primary">Send</button>

</form>